<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Five Hotel</title>
        <link rel="stylesheet"  href="{% static 'css/style.css' %}">
        <link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet"  href="{% static 'css/fontawesome.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Noto+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
<body>
  

<div class="about lobster-font-family">
    <div class="container">
        <h2 class="text-center text-capitalize"> <marquee behavior="" direction=""> Détails concernant le passager du nom de {{passager.person.prenom}} {{passager.person.nom}}</marquee> </h2>
        <img src=" {% static 'imgs/shape.png' %}">
        
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="block">
                    <div>
                        <img src=" {% static 'imgs/shape.png' %}">
                         
                        <table>
                            <tr>
                                
                                    
                                    <tr>
                                    <td><h2>Départ</h2></td><td> </td><td></td>
                                    <td>  </td><td><h2>Destination</h2></td>
                                    <td> </td><td> </td>
                                    <td> </td><td> </td>
                                    </tr>
                                    <tr>
                                        {% for trajet in passager.trajet_set.all %}
                                            <td><h5> {{trajet.depart}} </h5></td><td> </td><td></td>
                                            <td>  </td><td><h5>{{trajet.arrive}}</h5></td>
                                            <td> </td><td></td>
                                            <td> </td><td></td>
                                            </tr>
                                        {% endfor %}
                                </td>
                                <tr>
                                    <td>  <a class="btn btn-primary btn-rounded" href="{% url 'trajets' %}">Trajets</a></td>
                                    <td></td> <td></td> <td></td> 
                                    <td>  <a class="btn btn-primary btn-rounded" href="{% url 'conducteurs' %}">Conducteurs</a></td>
                                    <td>  <a class="btn btn-primary btn-rounded" href="{% url 'index' %}">Accueil</a></td>

                                </tr>
                            </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

